<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> welcome </title>
</head>
<div class="panelBar" th:include="fram/head::head"></div>
<body>




<div id="div1">
    <p></p>
</div>

<div class="panelBar" th:replace="fram/foot::foot(xin='我是底部')">传参给其他页面</div>

</body>

<script>

    var E = window.wangEditor
    var editor = new E('#div1')

    editor.customConfig.uploadImgServer = '/provider/app/upload'

    // 将图片大小限制为 3M
    editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
    // 限制一次最多上传 5 张图片
    editor.customConfig.uploadImgMaxLength = 5;
    editor.customConfig.uploadFileName = 'file';
    // 将 timeout 时间改为 10s
    editor.customConfig.uploadImgTimeout = 10000;
    editor.customConfig.debug = true;


    editor.create()


</script>
</html>


