<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> sg </title>
</head>
<script src="http://nginx.ciel.cl/js/vue.js"></script>
<script src="http://nginx.ciel.cl/js/vue-resource.js"></script>
<link href="http://nginx.ciel.cl/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="http://nginx.ciel.cl/js/wangEditor.js"></script>
<link rel="stylesheet" src="http://nginx.ciel.cl/js/wangEditor.css"/>

<style type="text/css">
    div[class*="col-md-"]{
        background-color:blue;
        border: 2px solid black;
    }
</style>
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-4 ">
                asdasdas
            </div>
            <div class="col-md-2 ">
                asdasdas
            </div>
            <div class="col-md-6 ">
                asdasdas
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 ">
                asdasdas
            </div>
            <div class="col-md-1 ">
                asdasdas
            </div>
            <div class="col-md-1 ">
                asdasdas
            </div>
        </div>
    </div>

</body>
</html>